# Python
__pycache__/
*.py[cod]
*.pyo

# Tests
.pytest_cache/
.coverage
htmlcov/

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db
