# Lock file de desarrollo. NO editar manualmente.
# Generado con: pip-compile requirements-dev.in
# Para actualizar: pip-compile --upgrade requirements-dev.in

# produccion
mpmath==1.3.0
sympy==1.14.0

# desarrollo
coverage==7.10.5
iniconfig==2.0.0
packaging==24.2
pluggy==1.5.0
pytest==8.3.2
pytest-cov==6.2.1
